html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans MT';
    
}

body{
    margin: auto;
    width: 1300px;
   background-color: #00171f;
   color: white;
}



header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 1300px;
    background: #00171f;
    z-index: 1;
}

span{
    margin-left: 10px;
}


a {
    font-size: 18px;
    color: #e1e1e1;
    font-family: 'Gill Sans MT';
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  a:focus,
  a:hover {
    color: #fff;
  }
  
  a:focus:after,
  a:hover:after {
    width: 100%;
    left: 0%;
  }
  
  a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #007ea7;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Gill Sans MT';
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: #007ea7;
    box-shadow: 0 0 30px 5px #3a506b;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
 
  .FC{
    position: initial;
  }


a{
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
}

#project{
    padding-left: 55px;
    color: #007ea7;
    
}

#inicio{
  margin-bottom: 30px;
}

h1{
    line-height: 5px;
    text-align: left;
    font-family: 'Gill Sans MT';
}


main{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
}

aside{
    width: 650px;
}

article{
    width: 650px;
}

h2{
    font-family: 'Gill Sans MT';
    line-height: 7px;
    font-size: 60px;
    width: max-content;
}

.enfase{
    color: #007ea7;
}

p{
    width: 550px;
    line-height: 20px;
    font-family: 'Gill Sans MT';
    text-align: left;
    font-size: 20px;
}

.fthome{
    width: 600px;
}

/*SEÇÃO SOBRE MIM*/

#sobre-mim{
    background-color: #007ea7;
    border-radius: 80% 90% 80% 40%;
    margin-top: 90px;
    margin-bottom: 100px;
}

.sbm{
    color: #ffffff;
}

.animated{
    max-width: 560px;
}
/*Projetos*/

#projetos{
    width: 1300px;
    height: 534px;
    margin-top: 10px;
}

#ftproject{
   background-color: #3a506b;
   height: 500px;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card {
    width: 350px;
    height: 250px;
    background-image: linear-gradient(163deg, #fff 30%, #007ea7 70%);
    border-radius: 50px;
    transition: all .3s;
   }
   
  .card2 {
    width: 350px;
    height: 250px;
    border-radius:7px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 30px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 2px rgba(0, 255, 117, 0.30);
   }

img{
    width: 350px;
    height: auto;
}

.qaz{
  width: 320px;
  height: 240px;
  border-radius: 50px;
  transition: all .3s;
  z-index: 0;
}

.qaz:hover{
  transform: scale(0.98);
  border-radius: 50px;
}

#roll{
    height: 50px;
    width: auto;
}

table {
  border-spacing: 70px 10px;
}

th{
  font-size: 24px;
}

li{
    display: inline-block;
    flex-direction: row;
}

.scroll {
  position: relative;
  display: flex;
  width: 500px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #ff0000 20%, #ffffff 80%, transparent)
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-0%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

#imgr{
  width: 500px;
}

.container {
  width: 350px;
  background: #3a506b;
  background: #3a506b;
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #007ea7;
  box-shadow: #6b9eaf 0px 0px 15px;
  margin-top: 70px;
  
}

.heading {
  text-align: center; 
  font-weight: 900;
  font-size: 30px;
  color: #007ea7;
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 300px;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #6b9eaf 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #007ea7;
}

.form .textarea {
  width: 300px;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #6b9eaf 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  resize: none;
}

.form .textarea::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .textarea::placeholder {
  color: rgb(170, 170, 170);
}

.form .textarea:focus {
  outline: none;
  border-inline: 2px solid #007ea7;
}

.button {
  position: relative;
  margin: 10px 0px 0px 2px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #007ea7;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Gill Sans MT';
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: #007ea7;
  box-shadow: 0 0 30px 5px #3a506b;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

@media screen and (min-width: 320px) { 
  body { font-size: 80%; }
  header{position: none;}
}@media screen and (min-width: 768px) { 
  body { font-size: 80%; }
}@media screen and (min-width: 1280px) { 
  body { font-size: 80%; }
}@media screen and (min-width: 1920px) { 
  body { font-size: 80%; }
}